*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%;

  @mixin bp-md {
    font-size: 56.25%;
  }

  @mixin bp-lg {
    font-size: 62.5%;
  }
}

/* body {} */

img {
  width: 100%;
  display: block;
}