/* COLORS */
$color-primary: #10316b;
$color-secondary: #0b8457;
$color-grey-light: #dee1ec;
$color-black: #000000;
$color-white: #ffffff;

/* SIZES */

/* FONTS */
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
