.btn {

  &,
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    @mixin default-font-size;
    padding: 1rem 2rem;
    display: inline-block;
    /* position: relative; */
    transition: all .2s ease-out;
  }

  &--green {
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
    color: $color-white;
    box-shadow: $shadow-medium;
  }

  &:hover,
  &:active {
    transform: scale(1.02);
    /* transform: translateY(-1px) scale(1.02); */
    box-shadow: $shadow-light;
    opacity: 0.85;
  }
}