.content-box {
  display: grid;
  gap: $gap-sm;
  justify-items: center;
  margin: auto;
  /* padding: 0 2.5rem; */
  max-width: $full-width;

  &--md-left {
    @mixin bp-md {
      justify-items: start;
    }
  }

  @mixin bp-md {
    padding: 0;
  }

  &--narrow {
    width: $full-width;
    max-width: 75rem;

    &--half {
      @mixin bp-md {
        width: 90%;
        max-width: 40rem;
      }
    }
  }

  &--pv-sm {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &--pv {
    padding-top: 5rem;
    padding-bottom: 5rem;

    @mixin bp-md {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  }
}