.header-posts {
  background-color: $color-primary;
  min-height: 35vh;
  padding: 3rem;
  color: $color-grey-light;

  @mixin bp-sm {
    background: linear-gradient(rgba($color-primary, .9), rgba($color-primary, .9)), url(./assets/images/jane-group-4.jpg);
    background-position: top center;
    background-size: contain no-repeat;
  }

  @mixin bp-md {
    padding: 5rem;
  }
}