.header-home {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  align-items: stretch;
  overflow: hidden;

  @mixin bp-sm {
    flex-direction: row;
    height: auto;
    max-height: 100vh;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    text-align: center;
    color: $color-white;
    padding: 2.5rem;

    @mixin bp-sm {
      width: 50%;
      justify-content:center;
      gap: 5%;
    }

  }

  &__img {
    @mixin bp-sm {
      width: 50%;
    }
  }

  &__divider {

    @mixin bp-sm {
      width: 40%;
      border-bottom: 1px solid $color-grey-light;
    }

  }
}