.home-posts {

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  &__title {
    color: $color-primary;
    font-family: $font-primary;
    font-size: 3rem;
    text-align: center;
  }

  &__paragraph {
    max-width: 80rem;
  }
}