.home-bio {
  /* gap: 8rem; */
  justify-content: space-evenly;

  &__img-box {

    @mixin bp-sm {
      height: auto;
      flex: 1;
    }
  }

  &__img {
    max-width: 30rem;
    border-radius: 75%;
    box-shadow: $shadow-dark;

    @mixin bp-sm {
      max-width: 27.5rem;
    }
  }

  &__content {
    flex: 1;
  }

  &__text {
  }
}