.home-about {

  &__content {
    grid-row: 1 / span 1;

    @mixin bp-md {
      grid-column: 7 / -1;
    }
  }

  &__image {
    background: url(./assets/images/jane-2-lg.jpg) no-repeat center 30%;
    background-size: cover;
    min-height:40rem;

    @mixin bp-sm {
      min-height: 45rem;
    }

  }
}