.home-hero {
  /* height: 40rem; */
  position: relative;
  background: linear-gradient(to right, rgba($color-primary, .45), rgba($color-primary-dark, .94) 75%), url(/assets/images/jane-hero-home--lg.jpg) top center no-repeat;
  background-size: cover;

  &__link {
    text-align: center;

    @mixin bp-lg {
      grid-column: 1 / 7;
      align-self: end;
      padding-bottom: 1rem;
    }
  }

  &__content {

    @mixin bp-sm {
      grid-column: 3 / -3;
    }

    @mixin bp-lg {
      grid-column: 8 / -1;
    }
  }

  /* @mixin bp-md {
    height: 50rem;
  } */

  /* @mixin bp-lg {
    height: 60rem;
  } */

  &__title {
    text-align: center;
    font-family: $font-primary;
    font-size: 2.8rem;
    line-height: 1.25;
    z-index: 10;

    @mixin bp-sm {
      font-size: 3.2rem;
    }

    @mixin bp-md {
      font-size: 4.5rem;
    }
  }
}