.name {
  display: flex;
  align-items: stretch;

  &__content {
    flex: 1;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    text-align: center;
    color: $color-grey-light;
  }

  &__img {
    max-width: 50%;
    height: 100%;;
  }
}