.page-header {
  display: grid;
  

  @mixin bp-sm {
    max-height: 30vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  @mixin bp-md {
    grid-template-rows: repeat(4, 1fr);
    max-height: 100vw;
  }
  
  &__background {
    grid-column: 1 / -1;
    grid-row: 1 / 1;

    @mixin bp-sm {
      grid-row: 1 / -1;
      background:  no-repeat top center;
      background-size: cover;
    }

    @mixin bp-md {
      grid-row: 1 / span 3;
    }

    &--sky {
      background-image: linear-gradient(rgba($color-primary-dark, .7), rgba($color-primary-dark, .7)), url(./assets/images/jane-skyline.jpg);
    }

    &--mounds {
      background-image: linear-gradient(rgba($color-primary-dark, .7), rgba($color-primary-dark, .7)), url(./assets/images/jane-skyline-2.jpg);
      background-position: center bottom;
    }

    &--group {
      background-image: linear-gradient(rgba($color-primary-dark, .9), rgba($color-primary-dark, .85)), url(./assets/images/jane-group-4.jpg)
    }

    &--blue {
      background: $bg-primary;
    }

    &--grey {
      background: $color-grey-light;
    }
  }

  &__content {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    color: $color-white;
    text-align: center;
    width: 100%;
    overflow: hidden;

    @mixin bp-sm {
      display: grid;
      grid-template-columns: 1fr 2fr;
      color: $color-white;
      max-width: 114rem;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }

    @mixin bp-md {
      grid-row: 2 / -1;
      grid-template-rows: repeat(3, 1fr);
      width: $full-width;
      max-width: 114rem;
    }

    & > .page-header__figure {
  
      @mixin bp-sm {
        box-shadow: $shadow-medium;
      }

      @mixin bp-md {
        grid-row: 1 / -1;
      }

    }

    &--grey {
      background: $color-grey-light;
      color: $color-primary-dark;
      

      @mixin bp-sm {
        box-shadow: $shadow-medium;
        text-align: right;
      }
    }

    &--blue {
      background: $bg-primary;

      @mixin bp-sm {
        box-shadow: $shadow-medium;
      }
    }
  }



  &__text {
    background: $bg-primary;

    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    gap: 1.5rem;
    padding: 5rem 2.5rem;

    @mixin bp-sm {
      background: none;
      grid-column: 2 / -1;
      align-content: end;
      padding: 2.5rem 8rem;
    }

    @mixin bp-md {
      grid-row: 1 / span 2;
    }
  }

  &__heading {
    font-size: 2.5rem;

    @mixin bp-sm {
      font-size: 3.5rem;
    }

    @mixin bp-md {
      font-size: 4.5rem;
    }
  }

  &__subheading {
    @mixin bp-sm {
      font-size: 2.5rem;
    }

    @mixin bp-md {
      font-size: 2.7rem;
      letter-spacing: 0.5px;
    }
  }
}