.row {
  display: flex;
  flex-direction: column;

  @mixin bp-sm {
    flex-direction: row;
  }
/* 
  &--col-md {
    flex-direction: column;

    @mixin bp-md {
      flex-direction: row;
    }
  } */

  &--reverse {
    flex-direction: column-reverse;
  }

  &--center {
    justify-content: center;
    align-items: center;
  }

  &--bottom {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  &--1 {
    flex: 1;
  }

  &--gap-sm {
    gap: $gap-sm;
  }

  &--gap-md {
    gap: $gap-md;
  }

  &--gap-lg {
    gap: $gap-lg;
  }

  &--col {
    flex-direction: column;
  }

}