.row {
  display: flex;
  flex-direction: column;

  @mixin bp-sm {
    flex-direction: row;
  }

  &--reverse {
    flex-direction: column-reverse;
  }

  &--center {
    justify-content: center;
    align-items: center;
  }

  &--bottom {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  &--1 {
    flex: 1;
  }

  &--gap-md {
    gap: $gap-md;
  }

  &--gap-lg {
    gap: $gap-lg;
  }

}